<!DOCTYPE html>
<html>
    <head>
        <title>WesTech</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Sleep Detection and Alert System</a></h1>
        </header>

        <article>
            <time>Published Date: 3/7/2023</time>
            <h2><a href="">Introduction</a></h2>
            <p>The Sleep Detection and Alert System is an innovative project aimed at preventing accidents caused by drowsy driving. This system uses advanced sensors and algorithms to detect when a driver is falling asleep and alerts them to prevent accidents.
            </p>
        </article>

        <article>
            <time>Published Date: 3/7/2023</time>
            <h2><a href="">Objective</a></h2>
            <p>The primary objective of this project is to reduce the number of accidents caused by drowsy driving. By detecting when a driver is becoming drowsy and alerting them, the Sleep Detection and Alert System can prevent accidents and save lives.
            </p>
        </article>
    </body>
</html>